.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 44px;
  width: 100%;
  line-height: 44px;
  text-align: center;
}

.navbar .left,
.right {
  width: 60px;
  height: 100%;
}

.navbar .center {
  flex: 1;
}